// 背景
.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("./pexels-janko-ferlic-590493.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
// 表单部分
.auth {
    .title-info {
        
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        img {
            width: 80px;
            height: 80px;
        }
        h2 {margin: 0;}
    }
    .form {
        width: 400px;
        margin: 0 auto;
        .item {
            margin-bottom: 16px;

            button {
                width: 100%;
            }
        }
    }

}